<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Sistema Gestão de Férias{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% block body%}
<body>
    <div class="container text-center">
        <h1 class="mt-5">Sistema de Gestão de Férias</h1>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <a href="{{url_for('listar_ferias')}}">
                    <img src="{{url_for('static', filename='img/index_ferias.jpeg')}}" alt="Gestão de Férias" class="img-fluid">
                    <p class="text-center mt-2 img-caption">Gestão de Férias</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{url_for('listar_departamentos')}}">
                    <img src="{{url_for('static', filename='img/index_dpto.jpeg')}}" alt="Cadastrar Departamento" class="img-fluid">
                    <p class="text-center mt-2 img-caption">Cadastrar Departamento</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{url_for('listar_funcionarios')}}">
                    <img src="{{url_for('static', filename='img/index_func.jpeg')}}" alt="Cadastrar Funcionário" class="img-fluid">
                    <p class="text-center mt-2 img-caption">Cadastrar Funcionário</p>
                </a>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>
