<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mt-5">Confirmar Exclusão</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center mt-4">
                <p>Tem certeza de que deseja excluir este registro?</p>
                <form method="POST">
                    <input type="hidden" name="ferias_id" value="{{ ferias_id }}">
                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                    <a href="{{url_for('listar_ferias')}}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>